<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

<div class="panel panel-default">

<div class="panel-heading">New Employee</div>

<div class="panel-body">


  <form>

    <!-- Name -->
      <div class="form-group">
          <label for="txtForename">Forename</label>
          <input class="form-control" id="txtForename" placeholder="Forename">
        </div>


  </form>


</div>

<div class="panel-footer">

    <button type="button" class="btn btn-success">Save</button>

</div>

</div>
</div>